@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


/*============== Base =============*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

 }

:root {
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);

   

}
/* Dark mode styling */
.dark {
   /* Invert colors */
   filter: invert(1) hue-rotate(180deg);
 }
 
 /* Invert images as well */
 .dark img {
   filter: invert(1) hue-rotate(180deg);
 }
 
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*  Header Design Section */

 .header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index:100 ;

 }

 .header.sticky{
   border-bottom: .1rem solid rgba(0, 0,0, .2);
 }
 .logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight:600;
    cursor:default;
 }


/* Toggle switch container */
.switch {
   position: relative;
   display: inline-block;
   width: 60px;
   height: 34px;
 }
 
 /* Hide default checkbox */
 .switch input {
   opacity: 0;
   width: 0;
   height: 0;
 }
 
 /* The slider */
 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 34px;
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }
 
 /* Dark mode styling when checkbox is checked */
 .switch input:checked + .slider {
   background-color: #2196F3;
 }
 
 /* Dark mode styling for the slider button when checkbox is checked */
 .slider.round::before {
   position: absolute;
   content: "";
   height: 26px;
   width: 26px;
   left: 4px;
   bottom: 4px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
   border-radius: 50%;
 }
 
 /* Dark mode styling for the slider button when checkbox is checked */
 .switch input:checked + .slider.round::before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 

 .navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
 }

 .navbar a:hover,
 .navbar a.active{
    color: var(--main-color);
 }
 #menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
 }


/*  Home Design Section */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    position: relative;
    width: 35vw; 
    margin-left: 2rem; 
    height: auto; 
    animation: fadeInOut 4s ease infinite;
}

@keyframes fadeInOut {
      0%, 100% {
         opacity: 0;
      }
      50% {
         opacity: 1;
      }
}


.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;

}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

 .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
 }
 .social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
 }

 .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
 }

 .btn:hover {
    box-shadow: none;
 }

/*============== About =============*/
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
    padding: 4rem;
}

.about-img img {
    width: 100%;
    max-width: 500px;
    border-radius: 0.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.about-content {
    max-width: 800px;
    text-align: justify;
}

.about-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-content p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0af;
}

/*============== About =============*/

/*============== Skills =============*/
.skills {
    padding: 4rem 0;
    background: var(--bg-color);
    
}

.section-title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
}

.skills-container {
    align-items: center;
    gap: 1rem;
}

.skills-data {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    font-weight: 500;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 25px rgba(45, 145, 202, 0.15);
    width: 50%;
    margin-left: 20%;
}

.skills-names {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.skills-name {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.skills-bar {
    background-color: #1572b6;
    height: 10px;
    border-radius: 8px;
    width: 0;
    transition: width 1s ease;
}

.skills-percentage {
    font-size: 1.4rem;
    font-weight: bold;
}

.skills-names i.fa-html5,
.skills-names i.fa-css3,
.skills-names i.fa-js,
.skills-names i.fa-python {
    font-size: 2rem; 
    color: #1572b6; 
}

.skills-bar-html {
    width: 95%; /* HTML skill bar width */
}

.skills-bar-css {
    width: 85%; /* CSS skill bar width */
}

.skills-bar-js {
    width: 65%; /* JavaScript skill bar width */
}

.skills-bar-py {
    width: 95%; /* Python skill bar width */
}


/*============== Skills =============*/


/*============== Certifications =============*/

.certifications {
   justify-content: center;
   gap: 2rem;
   background: var(--second-bg-color);
   padding: 4rem;
}

.certifications .card-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 4rem;
}

.certifications .card-container .card {
   background-color: var(--second-bg-color);
   padding: 2.5rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   flex: 1 1 30rem;
   padding: 3rem 2rem 4rem;
   border-radius: 2rem;
   text-align: center;
   border: .2rem solid var(--bg-color);
   transition: .5s ease;
}

.certifications .card-container .card:hover {
   border-color: var(--main-color);
   transform: scale(1.02);
}

.certifications .card-container .card h2 {
   font-size: 2rem;
   color: var(--white);
   font-weight: 400;
   margin-bottom: 2rem;
}

.certifications .card-container .card p {
   font-size: 1.7rem;
   color: var(--dark-gray);
   margin-bottom: 2rem;
   line-height: 1.5;
   text-transform: none;
   letter-spacing: 0.1rem;
}

.certifications .card-container .card .btn-2 {
   font-size: 1.7rem;
   color: var(--yellow);
   display: flex;
   justify-content: center;
}

.certifications .card-container .card .btn-2:hover i {
   padding-left: 1.5rem;
}
/*============== Certifications =============*/


/*============== Services =============*/

.services {
    justify-content: center;
    gap: 2rem;
    background: var(--bg-color);
    padding: 4rem;
}

.services .box-container {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
gap: 4rem;

}
.services .box-container .box {
    background-color: var(--second-bg-color);
    padding: 2.5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
  }
  
  .services .box-container .box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}
  

.services .box-container .box .icon {
font-size: 4rem;
color: var(--light-bg);
background-color: var(--yellow);
padding: 2.5rem;
border-radius: 50%;
margin-bottom: 2rem;
}

.services .box-container .box i.fa-database,
.services .box-container .box i.fa-dev ,
.services .box-container .box i.fa-google {
    font-size: 4rem;
    color: var(--light-bg);
    background-color: var(--yellow);
    padding: 2.5rem;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.services .box-container .box h2 {
font-size: 2rem;
color: var(--white);
font-weight: 400;
margin-bottom: 2rem;
}
.services .box-container .box p {
font-size: 1.7rem;
color: var(--dark-gray);
margin-bottom: 2rem;
line-height: 1.5;
text-transform: none;
letter-spacing: 0.1rem;
}
.services .box-container .box .btn-2 {
font-size: 1.7rem;
color: var(--yellow);
display: flex;
justify-content: center;
}
.services .box-container .box .btn-2:hover i {
padding-left: 1.5rem;
}
/*============== Services =============*/


/*============== Project =============*/

.project{
    background: var(--second-bg-color);
  }
 .project h2{
    margin-bottom: 4rem;
 }
 .project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
 }
 .project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
 }
 .project-box img{
    width: 100%;
    transition: .5s ease;
 }
 .project-box:hover img{
    transform: scale(1.1);
 }
 .project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
 }
 .project-box:hover .project-layer{
    transform: translateY(0);
 }
 
 .project-layer h4{
    font-size: 3rem;
 }
 
 .project-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
 }
 
 .project-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
 }
 
 .project-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
 }
 
/*============== Project =============*/

/*============== Contact =============*/
.contact{
    background-color: var(--bg-color);
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
 }
 
 .contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 
 .contact form .input-box input,
 .contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
 }
 
 .contact form .input-box input{
    width: 49%;
 }
 
 .contact form textarea{
    resize: none;
 }
 
 .contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
 }
/*============== Contact =============*/


/*============== Footer =============*/

.footer {
    background-color: var(--second-bg-color);
    color: #fff;
    text-align: center;
    font-weight: 1rem;
    padding: 2rem 0;
  }

  .footer__social {
    margin-bottom: 2rem;
  }
  .footer__icon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
  }
.footer p {
    font-size: 2rem;
}
  
/*============== Footer =============*/


/*============== Footer =============*/
.footer {
   background-color: var(--second-bg-color);
   color: #fff;
   text-align: center;
   font-weight: 1rem;
   padding: 2rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footer .social-media,
.footer .contact-info {
   display: flex;
   align-items: center;
}

.footer .social-media a,
.footer .contact-info a {
   font-size: 1.5rem;
   color: #fff;
   margin: 0 1rem;
   transition: color 0.3s ease;
}

.footer .contact-info i {
   font-size: 2rem; 
}
.footer .social-media a:hover,
.footer .contact-info a:hover {
   color: var(--main-color);
}

.footer p {
   font-size: 2rem;
}
/*============== Footer =============*/

/*============== Footer =============*/

/*  Media Query for responsive site */
@media (max-width:1200px){
    html{
       font-size: 55%;
    }
    .navbar.active {
      display: block;
  }
 }
 
 @media(max-width:991px){
    .header{
       padding: 2rem 3%;
    }
    section{
       padding: 10rem 3% 2rem;
    }
 
    .services{
       padding-bottom: 7rem;
    }
 
    .project{
       padding-bottom: 7rem;
    }
    .contact{
       min-height: auto;
    }
    .footer{
       padding: 2rem 3%;
    }
    .navbar.active {
      display: block;
  }
 }
 
 @media (max-width: 768px) and (min-width: 481px) {
   #menu-icon {
       display: block;
   }

   .navbar {
       position: absolute;
       top: 100%;
       left: 0;
       width: 100%;
       padding: 1rem 3%;
       background: var(--bg-color);
       border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
       box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
       display: none;
   }

   .navbar.active {
       display: block;
   }

   .navbar a {
       display: block;
       font-size: 2rem;
       margin: 3rem 0;
       text-align: center; /* Center align the menu items */
   }

   .home,
   .about {
       flex-direction: column;
       align-items: center; /* Center align the content */
   }

   .home-content h3,
   .home-content h1,
   .about-content h2,
   .services h2,
   .project h2 {
       text-align: center; /* Center align the headings */
   }

   .home-img img,
   .about-img img {
       width: 70vw;
       margin-top: 4rem;
       max-width: 100%; /* Ensure images don't exceed their container */
   }

   .services,
   .project {
       padding-bottom: 7rem;
   }

   .project-container {
       grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 740px) and (min-width: 360px) {
   #menu-icon {
       display: block;
   }

   .navbar {
       position: absolute;
       top: 100%;
       left: 0;
       width: 100%;
       padding: 1rem 3%;
       background: var(--bg-color);
       border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
       box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
       display: none;
   }

   .navbar.active {
       display: block;
   }

   .navbar a {
       display: block;
       font-size: 2rem;
       margin: 3rem 0;
       text-align: center; /* Center align the menu items */
   }

   .home,
   .about {
       flex-direction: column;
       align-items: center; /* Center align the content */
   }

   .home-content h3,
   .home-content h1,
   .about-content h2,
   .services h2,
   .project h2 {
       text-align: center; /* Center align the headings */
   }

   .home-img img,
   .about-img img {
      width: 90vw;
      margin-top: 4rem;
       max-width: 100%; /* Ensure images don't exceed their container */
   }

   .services,
   .project {
       padding-bottom: 7rem;
   }

   .project-container {
       grid-template-columns: repeat(2, 1fr);
   }
}


 
 #msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
 }